# =============================================================================
# 1. SYMFONY CORE & CONFIGURATION
# =============================================================================
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.env.local
.env.local.php
.env.*.local

# =============================================================================
# 2. DEV TOOLS & QUALITY ASSURANCE
# =============================================================================

# Claude Code
/.claude/settings.local.json

# PHP-CS-Fixer
.php-cs-fixer.php

# Twig-CS-Fixer
.twig-cs-fixer.php

# PHPStan
phpstan.neon

# PHPUnit
phpunit.xml

# =============================================================================
# 3. INFRASTRUCTURE & DOCKER
# =============================================================================
compose.override.yaml

# =============================================================================
# 4. FRONTEND
# =============================================================================
/public/assets/
/ui/assets/vendor/
