services:
  nginx:
    ports:
      - '80:80'
      - '443:443'

  app:
    environment:
      COMPOSER_CACHE_DIR: /home/app/.cache/composer
      COMPOSER_HOME: /home/app/.config/composer
    volumes:
      - ~/.cache/composer:/home/app/.cache/composer
      - ~/.config/composer:/home/app/.config/composer

  db:
    ports:
      - '3306:3306'

  mailer:
    ports:
      - '8025:8025'

  sandbox:
    environment:
      PAYMENT_WEBHOOK_SECRET: ${PAYMENT_WEBHOOK_SECRET}
      FAKE_CHECKOUT_BASE_URL: http://localhost:8081
    ports:
      - '8081:80'
