{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "@default": true,
        "ArrayItemRemoval": {
            "ignoreSourceCodeByRegex": [
                ".*Types::BOOLEAN.*"
            ]
        }
    },
    "testFramework": "phpunit"
}
