{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "apps/*/src",
            "src"
        ]
    },
    "timeout": 60,
    "threads": "max",
    "minMsi": 100,
    "ignoreMsiWithNoMutations": true,
    "mutators": {
        "@default": true,
        "ArrayItemRemoval": {
            "ignoreSourceCodeByRegex": [
                ".*Types::BOOLEAN.*"
            ]
        }
    },
    "testFramework": "phpunit"
}
