{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "apps/*/src",
            "src"
        ]
    },
    "mutators": {
        "@default": true,
        "ArrayItemRemoval": {
            "ignoreSourceCodeByRegex": [
                ".*Types::BOOLEAN\\].*"
            ]
        },
        "Concat": {
            "ignoreSourceCodeByRegex": [
                ".*Assert::.*"
            ]
        },
        "ConcatOperandRemoval": {
            "ignoreSourceCodeByRegex": [
                ".*Assert::.*"
            ]
        }
    },
    "testFramework": "phpunit"
}
