services:
    -
        class: Tools\PHPStan\Rules\ForbidDateTimeImmutableWithoutTimezoneRule
        tags:
            - phpstan.rules.rule
    -
        class: Tools\PHPStan\Rules\ForbidRepeatedServiceResolutionRule
        tags:
            - phpstan.rules.rule
    -
        class: Tools\PHPStan\Rules\ForbidDateTimeImmutableOutsideClockRule
        tags:
            - phpstan.rules.rule
    -
        class: Tools\PHPStan\Rules\ForbidMultipleDateAnchorsRule
        tags:
            - phpstan.rules.rule
