includes:
    - ../phpstan.base.neon

parameters:
    tmpDir: '%currentWorkingDirectory%/var/phpstan/tests'

    paths:
        - '%currentWorkingDirectory%/tests/'
        - '%currentWorkingDirectory%/tools/PHPUnit/'

    symfony:
        containerXmlPath: %currentWorkingDirectory%/var/cache/%env.APP_ENV%/Bootstrap_Kernel%env.APP_ENV_UCFIRST%DebugContainer.xml
