:root {
  --pico-form-label-font-weight: bold;
}

.form-error {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  margin-bottom: var(--pico-spacing);
  background-color: var(--pico-background-color);
  border: var(--pico-border-width) solid var(--pico-del-color);
  border-radius: var(--pico-border-radius);
}
