RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^charges/([A-Za-z0-9\-]+)/capture$ capture.php?reference=$1 [L,QSA]
RewriteRule ^charges/([A-Za-z0-9\-]+)/void$ void.php?reference=$1 [L,QSA]
RewriteRule ^charges/([A-Za-z0-9\-]+)/refund$ refund.php?reference=$1 [L,QSA]
RewriteRule ^charges/([A-Za-z0-9\-]+)$ charges.php?reference=$1 [L,QSA]
RewriteRule ^([a-z]+)$ $1.php [L]
